<!DOCTYPE html>
<html ng-app="myApp">
<!-- header code -->
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <title>Menu Dynamic</title>
    <script type="text/javascript" src="webjars/jquery/2.1.4/jquery.js"></script>
	<script type="text/javascript" src="webjars/angularjs/1.4.6/angular.min.js"></script>
	<script type="text/javascript" src="webjars/angularjs/1.4.6/angular-resource.min.js"></script>
	<script type="text/javascript" src="resources/js/app.js"></script>
	<script type="text/javascript" src="resources/js/service.js"></script>
	<script type="text/javascript" src="resources/js/controller.js"></script>
</head>
<body ng-controller="MenuController">


<div class="nav nav-pills" style="float:left" >
	
	<div id="menuListId" class="list-group">

		<div class="list-group-item">
		 <ul>
			<li ng-repeat="item in menu | filter:query | orderBy:orderProp" class="list-group-item" style="margin-top:16px">
				
				 <div class="row-content">
				 	<h4 class="list-group-item-heading">{{item.menuParent}}</h4>
					<p class="list-group-item-text">{{item.menuName}}</p>
					<a href={{item.serviceUrl}}>Service</a>
				</div>
				
			</li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<div class="row col-lg-12">
			Search : <input ng-model="query"/>
			Sort By: 
			<select ng-model="orderProp">
				<option value="-menuParent">Alphabetical</option>
				<option value="-menuName">Alphabetical</option>
			</select>
		
		</div>
	<div class="row col-lg-12">
		<h1>{{query}} - {{orderProp}}</h1>
	</div>
	<div class="row col-lg-12">
		<pre>{{menu}}</pre>
	</div>
</div>
	
</body>
</html>